@import "/src/styles/extend.scss";

$column-breakpoint: xl;

div.article-text-items {
    --row-gap: 0px;
    --avatar-size: 285px;
    --spacing: 35px;
    @include media-breakpoint-down(xxl) {--avatar-size: 270px}
    @include media-breakpoint-down(xl) {--avatar-size: 200px}
    @include media-breakpoint-down(lg) {--avatar-size: 180px}
    @include media-breakpoint-down(md) {--avatar-size: 150px}
    @include media-breakpoint-down(sm) {--avatar-size: 130px}

    display: flex;
    flex-direction: column;
    min-height: 0;
    height: auto;
}

div.article-text-item {
    display: flex;
    align-items: center;
    margin: 0;
    min-height: 0;
    height: auto;

    @include media-breakpoint-down($column-breakpoint) {
        flex-direction: column;
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

div.article-text-avatar-view-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: var(--avatar-size);
    min-height: calc(var(--avatar-size)/1.2);
    width: var(--avatar-size);
    height: calc(var(--avatar-size)/1.2);

    margin-left: calc(var(--spacing)/4);
    margin-right: var(--spacing);
    @include media-breakpoint-down($column-breakpoint) {
        margin-left: 5px;
        margin-right: 0;
    }
}

div.article-text-avatar-view {
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: calc(var(--avatar-size) / 1.75);
    @include media-breakpoint-down($column-breakpoint) {
        margin-bottom: calc(var(--spacing)/2);
    }
}

div.article-text-excerpt {
    direction: ltr;
    width: 100%;
    color: var(--theme-texts-light);

    margin-bottom: 0;
    @include media-breakpoint-down($column-breakpoint) {
        margin: 0;
    }
}

div.article-text-item-reverse {
    direction: rtl;

    div.article-text-avatar-view {
        margin-left: 20px;
    }

    div.article-text-excerpt {
        margin-left: 20px;
    }
}

