/**
 * @author Alvaro Sepulveda
 * @description Link component styles.
 */

@import "/src/styles/extend.scss";

a.link-no-href {
    color: var(--theme-texts)!important;
    user-select: none;
    pointer-events: none;
}